
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
 
    color: #222;
}

h6{
    font-weight: 700;
   font-size: 12px;
    color: #222;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}



.navbar li a:hover,
.navbar li a.active{
    color: #088178;
}
.navbar li a.active::after,
.navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
    }
    .navbar li a.active::before{
        color: #222;
    }
    @media (max-width:768px) {
        /* #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color:#E3E6F3;
        box-shadow: 640px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0px 0px 10px;
        transition: 0.5s;
        
        } */
        #navbar.active{
            right: 0px;
        }
  
      #hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30% ;
      }
     
       #product-cointainer{
     
        justify-content: center;

       }
       #product{
        margin: 15px;

       }
       #banner{
        height: 35vh;
       }

       #product-cointainer{
        justify-content: center;
       }
       #product-new{
        margin: 15px;
       }
       #banner-box{
        min-width: 100%;
        height: 35vh;
        text-align: center;
       }
       #banner-box-1{
        min-width: 100%;
        height: 30vh;
       
       }
       #form{
       width: 70%;
       }

        }


        @media(max-width:475px){
       #header{
        padding: 5px 10px ;
       }
       #features{
        justify-content: center;
        padding: 0 0 0 0;
       }
       #hero{
        padding: 0 20px;
        background-position: 50%;
       }
       #product{
        width: 100%;

       }
       #banner{
        height: 40vh;
        padding-bottom: 10px;
       }
       #product-new{
        width: 100%;
       }
       #banner-box{
        min-width: 100%;
        height: 38vh;
        text-align: center;
        padding: 0 0 0 0;
        margin: 10px 0 0 0;
        
       }
       #banner-box-1{
        min-width: 100%;
        height: 30vh;
        padding: 0 0 0 0;
        margin: 10px 0 0 0;
       
       }
       .newsletter{
        margin-top: 10px;
        padding: 40px 20px;
       }
       #form{
        width: 100%;

        }
        .newstext h4{
            width: 100%;
            font-size: 25px;
            }
            .newstext p{
                width: 100%;
                font-size: 12px;
                }
        .myfooter{
           
            padding: 10px 0 0 10px;
           display: grid;
           grid-template-columns: repeat(2, minmax(0,1fr))
        }
        .myfooter .column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8{
            width: 50%;
        }
        }
  